.sidebar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.hamburger{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.line line1{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}